.brand-list{
    background-color: aqua;
    &__tools{
        padding: 20px;
    }
    
    &__table{
        background-color: aquamarine;
        display:flex;
        flex-wrap: wrap;
        .brand-list__title{
            font-weight: bolder;
        }
        li{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0px 20px;

            span{
                border: 1px solid gray;
                display:block;
                padding: 0px 20px;
            }
        }
    }

    
}