.btn{
    padding: .5rem;
    font-size: 1rem;
    font-weight: bold;
    width: fit-content;
    margin:auto;
}

.btn.btn-success{
    background-color: $success;
    color: $white;
    border: none;
}


.btn.btn-success:hover{
    background-color: rgba($success, .8);
    cursor: pointer;
}

.btn.btn-primary{
    background-color: $primary;
    color: $white;
    border: none;
}

.btn.btn-primary:hover{
    background-color: rgba($primary, .8);
    cursor: pointer;
}

.btn.btn-danger{
    background-color: $danger;
    color: $white;
    border: none;
}


.btn.btn-danger:hover{
    background-color: rgba($danger, .8);
    cursor: pointer;
}

.btn.btn-logout{
    padding:0;
    background-color: transparent;
    border:2px solid $white;
    padding: .5rem 1rem;
    width: fit-content;
    margin: .1rem .5rem;
}

.btn.btn-logout:hover{
    background-color: $white;
    color:$success;
    border: 3px solid $success;
}

.disabled{
    cursor: not-allowed;
    pointer-events: none;
}
  