.home .banner{
    width:100%;
    position:relative;
}

.home .banner h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:$white;
    position:absolute;
    bottom:10px;
    left:10px;
    text-transform: uppercase;
}

.home .tools-title{
    width: fit-content;
    font-size: 2rem;
    margin:50px auto;
    padding:20px 20px;
    border-bottom: 2px solid $success;
}


.home .tools-container{
    display:flex;
    flex-wrap: wrap;
}

.home .tools-container .brand{
    width: 200px;
    padding: 40px;
}