.main-nav{
    display: flex;
    justify-content: space-around;
    background-color: $success;

    .main-menu{
        flex:1;
    }

    ul{
        display: flex;
        justify-content: flex-start;
        a{
            color: $white;
            font-size: 1rem;
            transition:.3s linear;
            transition-property: background-color;
            display:flex;
            padding:15px 20px;

        }
        a:hover,a.active{
            color: #fff;
            font-weight: bold;
            background-color: rgba($white,.2);
        }
    }  
    .logo{
        font-size: 2rem;
        color: #fff;
        font-weight: bold;
        margin: 0 1.5rem;
    }     
}